@font-face {
   font-family: 'KGShakeitOffChunky';
   font-display: swap;
   src: url('file:///C:/Users/%D0%A8%20%D0%9A%20%D0%9E%20%D0%9B%20%D0%90/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-29_185620/fonts/KGShakeitOffChunky/font.ttf');
}
